<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Customer Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat-main-wrapper">
    
    <div class="chat-container">
      <div *ngFor="let chat of chats" class="message-wrapper">
        <div class="message-bubble vendor-bubble" *ngIf="chat.message && chat.message !== '-'">
          <p>{{ chat.message }}</p>
        </div>
        <div class="message-bubble admin-bubble" *ngIf="chat.admin_reply">
          <p>{{ chat.admin_reply }}</p>
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #ffffff; padding: 5px 10px;">
    <div style="display: flex; align-items: center; width: 100%;">
      <ion-input 
        [(ngModel)]="message" 
        placeholder="Ketik pesan..." 
        style="background: #f0f0f0; border-radius: 20px; padding: 0 15px; margin-right: 10px; height: 50px; flex: 1;">
      </ion-input>
      
      <ion-button (click)="submitMessage()" [disabled]="!message || message.trim() === ''" fill="clear" style="height: 50px;">
        <ion-icon [icon]="iconSend" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>