<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Customer Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true">

  <div class="chat-container">

    <div *ngFor="let chat of chats" class="message-wrapper">

      <div class="message-bubble vendor-bubble" *ngIf="chat.message && chat.message !== '-'">

        <p>{{ chat.message }}</p>

      </div>

      <div class="message-bubble admin-bubble" *ngIf="chat.admin_reply">

        <p>{{ chat.admin_reply }}</p>

      </div>

    </div>

  </div>

</ion-content>

<ion-footer class="chat-footer">

  <ion-toolbar>

    <div class="chat-input-wrapper">

      <ion-textarea [(ngModel)]="message" placeholder="Tulis pesan..." auto-grow="true" rows="1" maxlength="1000"
        enterkeyhint="enter" [disabled]="isSubmitting">
      </ion-textarea>

      <ion-button fill="clear" (click)="submitMessage()" [disabled]="!message?.trim() || isSubmitting">

        <ion-spinner *ngIf="isSubmitting" name="crescent">
        </ion-spinner>

        <ion-icon *ngIf="!isSubmitting" [icon]="iconSend">
        </ion-icon>

      </ion-button>

    </div>

  </ion-toolbar>

</ion-footer>